/* stylelint-disable-next-line scss/at-rule-no-unknown */
@tailwind base;
/* stylelint-disable-next-line scss/at-rule-no-unknown */
@tailwind components;
/* stylelint-disable-next-line scss/at-rule-no-unknown */
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
